.parent {
    display: grid;
    background-color: skyblue;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    }

    